<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68ddbd">  <td>19/02/04 10:40:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;veterinaria.beforeTest()[pri:0, instance:ejemplo.veterinaria@63440df3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>19/02/04 10:40:49</td>   <td>3153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="veterinaria.jenkins()[pri:0, instance:ejemplo.veterinaria@63440df3]">jenkins</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>19/02/04 10:40:49</td>   <td>3412</td> <td>&nbsp;</td><td title="&lt;&lt;veterinaria.afterTest()[pri:0, instance:ejemplo.veterinaria@63440df3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
</table>
