<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86dec2">  <td>19/02/01 12:40:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;veterinaria.afterTest()[pri:0, instance:ejemplo.veterinaria@12f41634]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>19/02/01 12:40:40</td>   <td>-3120</td> <td>&nbsp;</td><td title="&gt;&gt;veterinaria.beforeTest()[pri:0, instance:ejemplo.veterinaria@12f41634]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>19/02/01 12:40:42</td>   <td>-309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="veterinaria.jenkins()[pri:0, instance:ejemplo.veterinaria@12f41634]">jenkins</td> 
  <td>main@949057310</td>   <td></td> </tr>
</table>
